Import Libraries

In [1]:
from src.analyzer import load_enriched_data

In [2]:
#Load the enriched dataset
df_enriched = load_enriched_data()

In [3]:
df_enriched.head()

,id,listing_url,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price_per_booking,availability_category
0,264776,https://www.airbnb.com/rooms/264776,2025-06-11,city scrape,Huge Four Bedroom Apartment,An extremely large and sunny four bedroom grou...,Catford is a well established London suburb. T...,https://a0.muscache.com/pictures/hosting/Hosti...,1389063,https://www.airbnb.com/users/show/1389063,...,4.62,4.72,t,11,11,0,0,0.51,891.0,Part-time
1,264777,https://www.airbnb.com/rooms/264777,2025-06-11,city scrape,One Bedroom Apartment,Recently refurbished sunny one bedroom first f...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,1389063,https://www.airbnb.com/users/show/1389063,...,4.54,4.42,t,11,11,0,0,0.22,294.0,Full-time
2,264778,https://www.airbnb.com/rooms/264778,2025-06-11,city scrape,Two Bedroom Newly Refurbished Apartment,A large and sunny two bedroom second floor apa...,Catford is a well established London suburb. T...,https://a0.muscache.com/pictures/50662093/af12...,1389063,https://www.airbnb.com/users/show/1389063,...,4.36,4.38,t,11,11,0,0,0.43,444.0,Full-time
3,264779,https://www.airbnb.com/rooms/264779,2025-06-11,city scrape,Refurbished Two Bedroom Apartment,A large and sunny two bedroom second floor apa...,Catford is a well established London suburb. T...,https://a0.muscache.com/pictures/50660860/e440...,1389063,https://www.airbnb.com/users/show/1389063,...,4.50,4.47,t,11,11,0,0,0.30,432.0,Full-time
4,264780,https://www.airbnb.com/rooms/264780,2025-06-11,city scrape,Spacious refurbished 2 bedroom apt with balcony,Completely refurbished 2 bedroom apt to sleep ...,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,1389063,https://www.airbnb.com/users/show/1389063,...,4.37,4.59,t,11,11,0,0,0.35,471.0,Part-time

In [4]:
#Top 10 most expensive neighborhoods by average price
top_neighborhoods = (
    df_enriched.groupby('neighbourhood_cleansed')['price']
    .mean()
    .sort_values(ascending=False)
    .head(10)
)

top_neighborhoods

neighbourhood_cleansed
City of London            379.090909
Lambeth                   369.843623
Kensington and Chelsea    363.188002
Westminster               345.318295
Camden                    231.094432
Islington                 218.092201
Hammersmith and Fulham    193.992279
Wandsworth                189.820619
Richmond upon Thames      184.412060
Brent                     169.424111
Name: price, dtype: float64

In [5]:
# Average availability and price by room type
avg_by_room_type = (
    df_enriched.groupby('room_type')[['availability_365', 'price']]
    .mean()
    .reset_index()
)

avg_by_room_type

         room_type  availability_365       price
0  Entire home/apt        141.834283  257.613874
1       Hotel room        175.360360  303.188406
2     Private room        135.112826  119.798254
3      Shared room        233.738220   83.360465

In [6]:
# Host with the most listings
top_host = (
    df_enriched['host_name']
    .value_counts()
    .head(1)
)

top_host

host_name
James    960
Name: count, dtype: int64

In [8]:
# Average price by borough/district
avg_price_borough = (
    df_enriched.groupby('neighbourhood_cleansed')['price']
    .mean()
    .sort_values(ascending=False)
)

avg_price_borough.head(5)

neighbourhood_cleansed
City of London            379.090909
Lambeth                   369.843623
Kensington and Chelsea    363.188002
Westminster               345.318295
Camden                    231.094432
Name: price, dtype: float64

In [9]:
# Listings with zero reviews
never_reviewed = df_enriched[df_enriched['number_of_reviews'] == 0]
num_never_reviewed = never_reviewed.shape[0]

num_never_reviewed

25164

### Key Insights from Analysis

- The most expensive neighborhoods are City of London, Lambeth, Kensington and Chelsea.

- Entire home/apartments have higher average prices and availability than private rooms.

- A few hosts control a significant portion of listings, dominating the market.

- Many listings have never been reviewed, indicating inactive or new listings.

- Most listings are “Full-time” or “Part-time” in availability, with few “Rare” listings.