Import libraries

In [1]:
import pandas as pd
from src.enricher import enrich_airbnb_data

Load Data

In [2]:
df_clean = pd.read_csv("data/london_listing_clean.csv")
df_enriched = enrich_airbnb_data(df_clean)

In [3]:
df_enriched.head()

,id,listing_url,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,264776,https://www.airbnb.com/rooms/264776,2025-06-11,city scrape,Huge Four Bedroom Apartment,An extremely large and sunny four bedroom grou...,Catford is a well established London suburb. T...,https://a0.muscache.com/pictures/hosting/Hosti...,1389063,https://www.airbnb.com/users/show/1389063,...,4.84,4.74,4.62,4.72,t,11,11,0,0,0.51
1,264777,https://www.airbnb.com/rooms/264777,2025-06-11,city scrape,One Bedroom Apartment,Recently refurbished sunny one bedroom first f...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,1389063,https://www.airbnb.com/users/show/1389063,...,4.58,4.25,4.54,4.42,t,11,11,0,0,0.22
2,264778,https://www.airbnb.com/rooms/264778,2025-06-11,city scrape,Two Bedroom Newly Refurbished Apartment,A large and sunny two bedroom second floor apa...,Catford is a well established London suburb. T...,https://a0.muscache.com/pictures/50662093/af12...,1389063,https://www.airbnb.com/users/show/1389063,...,4.72,4.52,4.36,4.38,t,11,11,0,0,0.43
3,264779,https://www.airbnb.com/rooms/264779,2025-06-11,city scrape,Refurbished Two Bedroom Apartment,A large and sunny two bedroom second floor apa...,Catford is a well established London suburb. T...,https://a0.muscache.com/pictures/50660860/e440...,1389063,https://www.airbnb.com/users/show/1389063,...,4.83,4.61,4.50,4.47,t,11,11,0,0,0.30
4,264780,https://www.airbnb.com/rooms/264780,2025-06-11,city scrape,Spacious refurbished 2 bedroom apt with balcony,Completely refurbished 2 bedroom apt to sleep ...,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,1389063,https://www.airbnb.com/users/show/1389063,...,4.81,4.74,4.37,4.59,t,11,11,0,0,0.35

Create new columns

In [4]:
# Create price_per_booking column
df_enriched['price_per_booking'] = df_enriched['price'] * df_enriched['minimum_nights']

# Preview the change
df_enriched[['price', 'minimum_nights', 'price_per_booking']].head()

   price  minimum_nights  price_per_booking
0  297.0               3              891.0
1   98.0               3              294.0
2  148.0               3              444.0
3  144.0               3              432.0
4  157.0               3              471.0

In [5]:
# Create availability category
df_enriched['availability_category'] = pd.cut(
    df_enriched['availability_365'],
    bins=[-1, 99, 300, 365],
    labels=['Rare', 'Part-time', 'Full-time']
)

In [6]:

df_enriched[['availability_365', 'availability_category']].head(10)

   availability_365 availability_category
0               293             Part-time
1               318             Full-time
2               302             Full-time
3               328             Full-time
4               255             Part-time
5               274             Part-time
6               323             Full-time
7               295             Part-time
8               322             Full-time
9                27                  Rare

In [7]:
df_enriched.head(1)

,id,listing_url,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price_per_booking,availability_category
0,264776,https://www.airbnb.com/rooms/264776,2025-06-11,city scrape,Huge Four Bedroom Apartment,An extremely large and sunny four bedroom grou...,Catford is a well established London suburb. T...,https://a0.muscache.com/pictures/hosting/Hosti...,1389063,https://www.airbnb.com/users/show/1389063,...,4.62,4.72,t,11,11,0,0,0.51,891.0,Part-time

Save df_enriched.csv

In [8]:
df_enriched.to_csv("data/clean_enriched.csv", index=False)