Import Libraries

In [14]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import requests
from io import BytesIO
import gzip
import os

Load Data

In [15]:
file_path = "data/london_listing_raw.csv" 
url = "https://data.insideairbnb.com/united-kingdom/england/london/2025-09-14/data/listings.csv.gz"

# Download and read directly into DataFrame
response = requests.get(url)
with gzip.open(BytesIO(response.content), 'rt') as f:
    df_raw = pd.read_csv(f)

# Save to local CSV (overwrite if exists)
df_raw.to_csv(file_path, index=False)
print("Saved file:", file_path)

Saved file: data/london_listing_raw.csv

Explore Dataset

In [17]:
df_raw.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,9.687100e+04,9.687100e+04,9.687100e+04,96830.000000,96830.000000,0.0,96871.000000,96871.000000,96871.000000,62025.00000,...,72706.000000,72729.000000,72705.000000,72705.000000,0.0,96871.000000,96871.000000,96871.000000,96871.000000,72749.000000
mean,6.894448e+17,2.025091e+13,2.144494e+08,50.088991,80.305246,NaN,51.509740,-0.127638,3.326228,1.35555,...,4.790344,4.812270,4.729839,4.616202,NaN,16.685499,14.303249,2.325526,0.028553,0.990334
std,5.941222e+17,2.460560e+01,2.196053e+08,399.405694,589.326173,NaN,0.049067,0.101112,2.078605,0.72077,...,0.430135,0.425909,0.409689,0.511816,NaN,53.130290,52.478299,9.623243,0.631484,1.304282
min,1.391300e+04,2.025091e+13,2.594000e+03,1.000000,1.000000,NaN,51.295937,-0.496760,1.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,3.026058e+07,2.025091e+13,2.726814e+07,1.000000,1.000000,NaN,51.484150,-0.189468,2.000000,1.00000,...,4.760000,4.800000,4.650000,4.500000,NaN,1.000000,0.000000,0.000000,0.000000,0.150000
50%,8.505248e+17,2.025091e+13,1.164321e+08,2.000000,3.000000,NaN,51.513720,-0.127505,2.000000,1.00000,...,4.930000,4.960000,4.850000,4.750000,NaN,2.000000,1.000000,0.000000,0.000000,0.520000
75%,1.254262e+18,2.025091e+13,4.198974e+08,10.000000,14.000000,NaN,51.539108,-0.068316,4.000000,1.50000,...,5.000000,5.000000,5.000000,4.940000,NaN,8.000000,5.000000,1.000000,0.000000,1.290000
max,1.508964e+18,2.025091e+13,7.186905e+08,5469.000000,8769.000000,NaN,51.682630,0.278960,16.000000,26.00000,...,5.000000,5.000000,5.000000,5.000000,NaN,500.000000,499.000000,116.000000,25.000000,36.960000

In [18]:
df_raw.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20250914034649,2025-09-16,city scrape,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,...,4.87,4.78,4.78,NaN,f,2,1,1,0,0.30
1,15400,https://www.airbnb.com/rooms/15400,20250914034649,2025-09-16,city scrape,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,...,4.84,4.93,4.74,NaN,f,1,1,0,0,0.51
2,17402,https://www.airbnb.com/rooms/17402,20250914034649,2025-09-16,city scrape,Very Central Modern 3-Bed/2 Bath By Oxford St W1,"You'll have a great time in this beautiful, cl...","Fitzrovia is a very desirable trendy, arty and...",https://a0.muscache.com/pictures/39d5309d-fba7...,67564,...,4.72,4.89,4.61,NaN,f,2,2,0,0,0.32
3,24328,https://www.airbnb.com/rooms/24328,20250914034649,2025-09-18,previous scrape,Battersea live/work artist house,"Artist house by SW Battersea Park, bright high...","- Battersea is a quiet family area, easy acces...",https://a0.muscache.com/pictures/9194b40f-c627...,41759,...,4.93,4.60,4.65,NaN,f,1,1,0,0,0.53
4,36274,https://www.airbnb.com/rooms/36274,20250914034649,2025-09-15,city scrape,Bright 1 bedroom apt off brick lane in Shoreditch,*Update June '25- Pump Installed to improve wa...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,133271,...,4.46,4.85,4.54,NaN,t,2,2,0,0,0.09

Display all columns

In [19]:
', '.join(df_raw.columns)

'id, listing_url, scrape_id, last_scraped, source, name, description, neighborhood_overview, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, availability_eoy, number_of_reviews_ly, estimated_occupancy_l365d, estimated_revenue_l365d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month'

Total missing value per column

In [20]:
df_raw.isnull().sum()

id                                                  0
listing_url                                         0
scrape_id                                           0
last_scraped                                        0
source                                              0
                                                ...
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                               24122
Length: 79, dtype: int64

Percentage of missing values per column

In [64]:
df_raw.isnull().mean() * 100

id                                               0.000000
listing_url                                      0.000000
scrape_id                                        0.000000
last_scraped                                     0.000000
source                                           0.000000
                                                  ...
calculated_host_listings_count                   0.000000
calculated_host_listings_count_entire_homes      0.000000
calculated_host_listings_count_private_rooms     0.000000
calculated_host_listings_count_shared_rooms      0.000000
reviews_per_month                               26.035944
Length: 79, dtype: float64

Total duplicated rows

In [65]:
df_raw.duplicated().sum()

0

View duplicated rows

In [66]:
df_raw[df_raw.duplicated()]

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, source, name, description, neighborhood_overview, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, availability_eoy, number_of_reviews_ly, estimated_occupancy_l365d, estimated_revenue_l365d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month]
Index: []

[0 rows x 79 columns]

Data types of all columns

In [67]:
df_raw.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 79, dtype: object

Number of columns by type

In [68]:
df_raw.dtypes.value_counts()

object     34
int64      24
float64    21
Name: count, dtype: int64